#corps table#capture img
{
	width: 480px;
}

#corps table#capture tr td
{
	text-align: justify;
	padding-right: 15px;
}

#corps table#bouton img
{
	width: 50px;
}

#corps table tr td
{
	width: 55px;
	text-align: justify;
}

#corps table tr th
{
	width: 80px;
	text-align: center;
	padding: 2px 5px 2px 5px;
	font-weight: normal;
}

#corps table tr th:hover
{
	font-weight: bold;
}